/* 전체 선택자 */
* {
  color: orange;
}

body * {
  color: violet;
}

/* 요소 선택자 */
html {
  font-size: 0.625em;
  /* 기본 글자 크기 : 16px */
  /* 기본 글자크기가 10px로 지정 */
}

p {
  color: blue;
}

/* 클래스 선택자 */
.likelion {
  color: green;
}

/* id 선택자 */
#techit {
  color: red;
}

/* 속성 선택자 */
[title] {
  color: pink;
}

/* 자손 결합 선택자 */
p span {
  color: skyblue;
}

/* 자식 선택자 : 1깊이의 직계 자식만 선택 */
p > span {
  text-decoration: underline;
}

/* 가상 요소 : 존재하지 않는 마크업을 css로 만드는 것이기에 반드시
content 속성 필요 */
h1::before {
  content: "첫번째 자식 요소";
}

h1::after {
  content: "마지막 자식 요소";
}

p::first-letter {
  font-size: 3.5rem;
}

/* 블록(드래그) 처리를 했을 때 효과 */
::selection {
  background-color: darkblue;
  color: white;
}

/* 가상 클래스 */
:root {
  font-size: 0.75em;
}

/* 가상 클래스를 이용한 선택자 그룹화 */
/* is 선택자는 괄호 안의 우선순위를 따진다. */
:is(h1, h2, h3, h4, h5, h6) span {
  background-color: salmon;
  color: blue;
}

:where(h1, h2, h3, h4, h5, h6) span {
  background-color: lightgreen;
  color: red;
}

/* 자식 또는 형제로 특정 태그를 갖는 부모 요소를 선택할 때 사용 */
h6:has(+ p) {
  border: solid 1px green;
  padding: 10px;
}

p:has(> strong) {
  border: 1px solid red;
  padding: 10px;
}
